/* #region General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --ws-dark-primary: #090B12;
    --ws-dark-main: #151921;
    --ws-dark-player: #272727;
    --ws-highlight: #C6FF5F;
    --ws-light-primary: white;
    --ws-main-text-darker: #818387;
    --ws-sidebar-square-plus: #a3a3a3;
    --ws-sidebar-text-darker: #717171;
    --ws-player-icons-lighter: #FCFCFC;
    --ws-player-icons-darker: #868686;
    --ws-player-bars-base: #575757;
    --ws-player-bars-top: #BABABA;

    --ws-font-family: 'Plus Jakarta Sans', sans-serif;
}

html, body {
    font-family: var(--ws-font-family);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* #endregion General */

/* #region Utilities */

.d-flex {
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

/* #endregion Utilities */

/* #region HTML */

#wrapper {
    height: 100vh;
    overflow: hidden;
    #top {
        height: calc(100% - 70px);
        overflow-y: auto;
        #sidebar {
            width: 230px;
            background-color: var(--ws-dark-primary);
            color: var(--ws-light-primary);
            flex-direction: column;
            justify-content: space-between;
            #sidebar-top {
                flex-direction: column;
                gap: 1rem;
                color: var(--ws-sidebar-text-darker);
                #logo {
                    width: 70%;
                    padding: 1rem;
                    #small-logo {
                        display: none;
                    }
                }
                #menu {
                    ul {
                        list-style: none;
                        line-height: 1.75rem;
                        li {
                            border-left: 1px solid transparent;
                            padding-left: 1rem;
                            img {
                                color: var(--ws-sidebar-square-plus);
                                vertical-align: middle;
                                height: 20px;
                            }
                            span {
                                padding-top: .25rem;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            &:first-child {
                                color: var(--ws-light-primary);
                                border-left: 2px solid var(--ws-highlight);
                            }
                        }
                    }
                }
                #playlist {
                    flex-direction: column;
                    gap: 1rem;
                    padding: .5rem 0 0 1rem;
                    h4 {
                        color: var(--ws-light-primary);
                        text-transform: uppercase;
                    }
                    >div {
                        align-items: center;
                        gap: .5rem;
                        #plus-square {
                            width: 35px;
                            height: 35px;
                            position: relative;
                            background-color: var(--ws-sidebar-square-plus);
                            i {
                                font-size: 22px;
                                color: var(--ws-dark-primary);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
            #sidebar-bottom {
                flex-direction: column;
                gap: .5rem;
                color: var(--ws-sidebar-text-darker);
                padding: 1rem;
                #app-install {
                    font-size: 11px;
                }
                hr {
                    border: none;
                    border-top: 1px solid var(--ws-sidebar-text-darker);
                }
                #account {
                    >div {
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: var(--ws-sidebar-text-darker);
                        overflow: hidden;
                    }
                    strong {
                        font-size: 13px;
                        color: var(--ws-light-primary);
                        vertical-align: middle;
                        padding-left: .25rem;
                    }
                }
            }

        }
        main {
            width: calc(100% - 230px);
            background-color: var(--ws-dark-main);
            #choices {
                ul {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 13px;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;
                    li {
                        color: var(--ws-main-text-darker);
                        border-bottom: 1px solid transparent;
                        padding: .25rem;
                        &:first-child {
                            border-bottom: 1px solid var(--ws-highlight);                            
                        }
                        &:hover {
                            color: var(--ws-light-primary);
                        }
                    }
                }
            }
            #recent {
                padding: 1.5rem 1rem;
                h3 {
                    color: var(--ws-light-primary);
                    padding: 1rem 0;
                }
                .row {
                    .col-2 {
                        .card {
                            padding-right: .75rem;
                            .cover {
                                position: relative;
                            }
                            #play {
                                width: 50%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                i {
                                    font-size: 50px;
                                    color: var(--ws-light-primary);
                                }
                            }
                            &:hover {
                                #play {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    #bottom {
        height: 70px;
        background-color: var(--ws-dark-player);
    }
}

/* #endregion HTML */

/* #region Responsive */

/* Mobile Mode - XS (<576px) */

@media screen and (max-width: 575px) {
    #wrapper {
        #top {
            #sidebar {
                width: 50px;
                #sidebar-top {
                    #logo {
                        width: 100%;
                        padding: .75rem;
                        #normal-logo {
                            display: none;
                        }
                        #small-logo {
                            display: inline-block;
                        }
                    }
                    #menu {
                        ul {
                            li {
                                padding-left: .5rem;
                                img {
                                    width: 26px;
                                    height: 26px;
                                }
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                    #playlist {
                        display: none;
                    }
                }
            }
            #sidebar-bottom {
                text-align: center;
                #app-install {
                    span {
                        display: none;
                    }
                }
                hr {
                    display: none;
                }
                #account {
                    strong {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Large Mobile Mode - S (>576px) */

@media screen and (min-width: 576px) {
    
}

/* Tablet Mode - MD (>768px) */

@media screen and (min-width: 768px) {
    
}

/* #endregion Responsive*/